@import './variables';

.desktopVerification-results {
  text-align: center;
  align-content: center; 
  margin-top: 30px;
  max-height: 513px;
  overflow-y: auto;
  max-width: 358px;
  overflow-x: hidden;
  background-color: $grey-50;

  .desktopVerification-results__view-details--button {
    position: absolute;
    top: 440px;
    left: 125px;
    height: 28px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.7px;
    text-align: center;
    color: $cyan;

    &:hover {
      background-color: $grey-100;
    }
  }

  .desktopVerification-results__next-product--button {
    width: 200px;
    height: 40px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: center;
    color: $white;
    border-radius: 100px;
    background-color: $cyan;
    box-shadow: 0 3px 1px -2px $grey-100, 0 2px 2px 0 $black-14, 0 1px 5px 0 $black-2;
    position: absolute;
    top: 435px;
    right: 53px;
    border-radius: 100px;
    -webkit-box-shadow: none;
  }
}