@import './variables';

.DesktopVerifications {
  .DesktopVerifications__table {
    overflow-y: auto;
    width: 1233px;
    margin-top: 72px;
  }
  
  .DesktopVerifications__table--header {
    background-color: $grey-50;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  }

  .DesktopVerifications__table--header-data {
    color: #757575;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.6px;
    font-style: normal;
    font-stretch: normal;
  }

  .DesktopVerifications__table--row {
    height: 56px;	
    cursor: pointer;
    background-color: $white;	
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  }

  .DesktopVerifications__table--column {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $header-black;
  }

  .DesktopVerifications__status--icon {
    height: 16px;
    width: 16px;
  }

  .DesktopVerifications__table--column-verifiedStatusText {
    width: 78px;
    color: $teal;
    font-size: 14px;
    line-height: 22px;
    margin-left: 8px;
  }

  .DesktopVerifications__table--column-notVerifiedStatusText {
    width: 78px;
    color: $amber;
    font-size: 14px;
    line-height: 22px;
    margin-left: 8px;
  }

  .DesktopVerifications__table--column-pendingStatusText {
    width: 78px;
    color: $cyan;
    font-size: 14px;
    line-height: 22px;
    margin-left: 8px;
  }

  .DesktopVerifications__table--column-errorStatusText {
    width: 78px;
    color: $red-orange;
    font-size: 14px;
    line-height: 22px;
    margin-left: 8px;
  }

  .DesktopVerifications__table--header-icon {
    cursor: pointer;
    position: absolute;
    color: #102027;
    top: 203px;
    font-size: 15px;
    margin-left: 2px;;
  }

  .DesktopVerifications__no-data-found {
    top: 285px;
    left: 439px;
    position: absolute;
    font-size: 39px;
    font-weight: 600;
  }

  .DesktopVerifications__loader {
    position: absolute;
    top: 174px;
    left: 486px;
  }

  .DesktopVerifications__title {
    width: 1362px;
    height: 94px;
    background-color: $white;
    font-size: 45px;
    color: $blue-grey;
    margin-top: -18px;
    margin-left: -17px;
    text-align: left;

  .DesktopVerifications__title--text {
    position: relative;
    left: 78px;
    top: 10px;
    }
  }

  .DesktopVerifications__card {
      width: 90.5%;
    }

  .DesktopVerifications__verify-product--button {
    height: 14px;
    color: $cyan;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    position: absolute;
    left: 1200px;
    top: 89px;

    &:hover {
      cursor: pointer;
    }
  }
  
  #DesktopVerifications__verifyProduct--dialogContainer {
    height: 276px;
    width: 520px;
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0 2px 25px 0 $black-24;

    .md-title--dialog {
      margin-bottom: 0;
      padding: 24px;
      padding-bottom: 20px;
      white-space: normal;
      height: 3.66%;
      color: $blue-grey;
      font-family: "Open Sans";
      font-size: 24px;
      line-height: 32px;
    }
 }

 #DesktopVerifications__verificationResult--dialogContainer {
   width: 520px;
   height: 524px;
   border-radius: 2px;
   background-color: $grey-100;
   box-shadow: 0 2px 25px 0 $black-24;
 }
}