@import './variables';

.desktopVerification-results {
  text-align: center;
  align-content: center; 
  margin-top: 30px;
  max-height: 513px;
  overflow-y: auto;
  max-width: 358px;
  overflow-x: hidden;
  background-color: $grey-50;
  
  .verification-results__blue {
     background-color: $cyan;
  }

  .verification-results__green {
     background-color: $teal;
  }

  .verification-results__orange {
     background-color: $deep-orange;     
  }

  .verification-results__amber {
     background-color: $amber;
  }

  .verification-results__quick-view {
    width: 520px;
    height: 216px;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    left: 0px; 
    
    img {
      margin-top: 25px;
      width: 80px;
      height: 80px;
    }
  }
      
  .verification-results__status {
    margin: auto;
    width: 340px;
    height: 48px;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: $grey-50;
  }  

  .verification-results__pi {
    width: 312px;
    height: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    position: absolute;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: $grey-600;
    top: 239px;
  }
  
  .verification-product__details {
    width: 312px;
    height: 120px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $blue-grey;
    position: absolute;
    top: 270px;

    p {
      margin-bottom: 0px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: $blue-grey;
    }
  }    
}