@import './variables';

.desktopVerification-results {
  text-align: center;
  align-content: center; 
  margin-top: 30px;
  max-height: 513px;
  overflow-y: auto;
  max-width: 358px;
  overflow-x: hidden;
  background-color: $grey-50;
}