@import './variables';

.DesktopVerifications {
  .DesktopVerifications__table {
    overflow-y: auto;
    width: 1233px;
    margin-top: 55px;
  }
  
  .DesktopVerifications__table--header {
    background-color: $grey-50;
    box-shadow: 0 1px 3px 0 $dark-gray;
  }

  .DesktopVerifications__table--header-data {
    color: $grey-600;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.6px;
    font-style: normal;
    font-stretch: normal;
  }

  .DesktopVerifications__table--row {
    height: 56px;	
    cursor: pointer;
    box-shadow: 0 1px 3px 0 $dark-gray;
  }

  .DesktopVerifications__table--row-verified {
    &:hover { 
      background-color: $teal-a700-12;
      box-shadow: 0 1px 3px 0 $teal-a700-12;
    }  
  }

  .DesktopVerifications__table--row-pending {
    &:hover { 
      background-color: $cyan-a700-12;
      box-shadow: 0 1px 3px 0 $cyan-a700-12;
    }  
  }

  .DesktopVerifications__table--row-error {
    &:hover { 
      background-color: $deeporange-600-12;
      box-shadow: 0 1px 3px 0 $deeporange-600-12;
    }  	
  }

  .DesktopVerifications__table--row-notVerified {
    &:hover { 
      background-color: $amber-a700-12;
      box-shadow: 0 1px 3px 0 $amber-a700-12;
    }  	
  }

  .DesktopVerifications__table--column {
    font-size: 14px;
    width: 400px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $header-black;
    white-space: nowrap;
  }

  .DesktopVerifications__status--icon {
    height: 16px;
    width: 16px;
    position: relative;
    top: 3px;
  }

  .DesktopVerifications__table--column-verifiedStatusText {
    width: 78px;
    color: $teal;
    font-size: 14px;
    line-height: 22px;
    margin-left: 8px;
  }

  .DesktopVerifications__table--column-notVerifiedStatusText {
    width: 78px;
    color: $amber;
    font-size: 14px;
    line-height: 22px;
    margin-left: 8px;
  }

  .DesktopVerifications__table--column-pendingStatusText {
    width: 78px;
    color: $cyan;
    font-size: 14px;
    line-height: 22px;
    margin-left: 8px;
  }

  .DesktopVerifications__table--column-errorStatusText {
    width: 78px;
    color: $red-orange;
    font-size: 14px;
    line-height: 22px;
    margin-left: 8px;
  }

  .DesktopVerifications__table--header-icon {
    cursor: pointer;
    position: absolute;
    color: $blue-grey;
    top: 313px;
    font-size: 16px;
    margin-left: 2px;
  }

 .DesktopVerifications__no-data-found {
   top: 375px;
   left: 439px;
   position: absolute;
   font-size: 39px;
   font-weight: 600;
  }

 .DesktopVerifications__loader {
    position: absolute;
    top: 183px;
    left: 486px;
  }

  .DesktopVerifications__title { 
    width: 1363px;
    height: 207px;
    background-color: $white;
    font-size: 45px;
    color: $blue-grey;
    margin: -18px 0px 0px -22px;
    text-align: left;

   .DesktopVerifications__title--text {
     position: relative;
     left: 65px;
     top: 18px;
   }
  }

  .DesktopVerifications__arrow-back {
    position: relative; 
    left: 60px;
    top: 22px; 
    font-size: 35px; 
    letter-spacing: 1.5px; 
    color: $header-black;
    cursor: pointer;
  }
  
  .DesktopVerifications__card {
    width: 90.5%;
  }

  .DesktopVerifications__requested--label {
    color: $blue-grey;
  }

  .DesktopVerifications__verify-product-button {
    width: 145px;
    height: 14px;
    color: $cyan;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    left: 955px;
    top: 99px;
    letter-spacing: 0.7px;

    &:hover {
      cursor: pointer;
      background-color: #ffffff;
    }
  }

  .DesktopVerifications__export-data-button {
    position: relative;
    top: 15px;
    left: 860px;
    width: 185px;
    height: 40px;
    border-radius: 100px;
    background-color: $cyan;
    box-shadow: 0 3px 1px -2px $greyish-black, 0 2px 2px 0 $black-14, 0 1px 5px 0 $black-2;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: center;
    color: $white;
    
    &:hover {
      cursor: pointer;
    }

    &:disabled {
      position: relative;
      top: 15px;
      left: 820px;
      width: 185px;
      height: 40px;
      border-radius: 100px;
      background-color: $blue-grey-12;
      box-shadow: 0 1px 5px 0 $black-2, 0 2px 2px 0 $black-14, 0 3px 1px -2px $greyish-black; 
      color: $blue-grey-26;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
      background-color: $blue-grey-12;
      -webkit-box-shadow: none;
      line-height: 1.33;
      letter-spacing: 0.7px;
    }
  }

  .DesktopVerifications__search-query {
    position: relative;
    top: 42px;
    left: -41px;
    .md-text-field {
      width: 644px;
      height: 26px;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
      text-align: left;
      color: $blue-grey;
      position: relative;
      left: 95px;
    }
  
    .md-divider {
      width: 672px;
      height: 1px;
      background-color: $grey-400;
      position: relative;
      left: 66px;
    }
  }

.DesktopVerifications__search-icon {
  left: 104px;
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $blue-grey;
  top: -7px;
}

.DesktopVerifications__search-cancel-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $warm-grey-two;
  left: 27px;
  top: -3px;
  position: relative;
  cursor: pointer;
}

.DesktopVerifications__status--select-field {
  width: 240px;
  height: 59px;
  top: -22px;
  left: 780px;

  .md-floating-label {
    width: 240px;
    height: 22px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.2;
    letter-spacing: normal;
    text-align: left;
  }

  .md-icon-text {
    width: 184px;
    height: 26px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: $blue-grey;
  }

  .md-divider {
    width: 240px;
    height: 1px;
    background-color: $grey-400;
  }

  .md-icon {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $blue-grey;
  }

  .md-list {
    width: 240px;
    top: 60px;
  }

  .md-tile-text--primary {
    font-size: 16px;
    color: $blue-grey;
  }
}

.DesktopVerifications__requested--select-field {
  width: 240px;
  height: 59px;
  top: -22px;
  left: 820px;

  .md-icon-text {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: $blue-grey;
  }

  .md-floating-label {
    width: 240px;
    height: 22px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.2;
    letter-spacing: normal;
    text-align: left;
  }

  .md-divider {
    width: 240px;
    height: 1px;
    background-color: $grey-400;
  }

  .md-icon {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $blue-grey;
  }

  .md-list {
    width: 240px;
    top: 60px;
    overflow: hidden;
  }

  .md-tile-text--primary {
    font-size: 16px;
    color: $blue-grey;
  }

  .md-list--menu-restricted {
    max-height: 285px;
  }
}

.DesktopVerifications__search-loader {
  position: absolute;
  top: 350px;
  left: 654px;
}
}