@import './variables';

.DesktopVerificationsPage {
    .VerificationsPage__header {
      background-color: $grey-100;
      min-height: 615px;
      padding: 0px;
      color: $light-grey;
      text-align: center;
      width: 100%;
      //margin:0 auto;
      & > h2 {
        color: $white;
      }
    }
  
    .VerificationsPage-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px;
    }
  
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
    .VerificationsPage__verify-product--loader {
      position: absolute;
      left: 482px;
      bottom: 28px;
    }
  }
  
  .DesktopVerificationsPage__loader {
    position: absolute;
    margin-top: 20%;
    margin-left: 47%;
  }
