@import './variables';

header.Header-toolbar {
  height: 44px;

  > h2.md-title {
    line-height: 48px;
    margin: 0 0 0 105px;
    font-family: Roboto;
  }
  
  .Header__title-username {
    float: right;
    margin-left: 800px;
    position: absolute;
  }

  .md-list--menu-tr {
    right: -6px;
    top: 50px;
    background-color: $header-black;
  }

  .md-text--secondary {
    color: $white;
  }
  
  #userMenu{
    margin-left: 940px;
    margin-top: -20px;
  }

  .material-icons {  
    float: right ;
    margin-left: 956px;
    margin-top: -11px;
    width: 10px;
  } 
}

.Header__title-logo {
  margin-left: 88px;
}

.Header__title-key {
  margin-top: -70px;
  margin-left: 125px;
}
