@import './variables';

.mobileHomePage {
  background-color: $grey;
  width: 100%;

  .mobileHomePage-container {
    height: 662px;
    background-color: $bluish-gray;
  }

  .mobileHomePage-layout {
    border: $grey 1px solid;
    height: 640px;
    width: 360px;
    margin: auto;
    padding-top: 10px;  
    padding-bottom: 20px;
    background-color: $disabled;
    margin-top: -24px;
  }

  .mobileHomePage-loader {
    margin-top: 240px; 
    margin-left: 160px;

  }
}
