 @import './variables';
 
.mobileButton__toolbar {
  border: 1px solid $bluish-gray;
	width: 357px;
	background-color: $bluish-gray;
	margin-top: -32px;

  .mobileButton-logo {
    margin-left: 10px;
    position: absolute;
    margin-top: -4px;
  }

  .mobileButton__title {
    color: $light-grey;
    width: 120px;
    height: 16px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    position: absolute;
    margin-left: 48px;
    letter-spacing: 0.8px;
    line-height: 0.89;
  }

  .mobileButton__option {
    margin-left: 313px;
    margin-top: -1px;
    position: absolute;
    color: $drawer-gray;
    cursor: pointer; 
  }  

  .close {
    width: 0px;
    opacity: 0;
  }

  .open {
    width: 229px;
    opacity: 1;
  }

  .mobileButton__menu-drawer {
    height: 513px;
    color: $drawer-gray;
    background-color: $blue-grey;
    z-index: 1;
    position: absolute;
    top:140px;
    right:504px;
    transition: 0.3s;
    overflow: hidden;    
    
    .mobileButton__row {
      height: 67px;
      background-color: $blue-grey;
      cursor: pointer;	
      text-align: right;	
    }
     
    h1 {
      white-space: nowrap;
      height:18px;
      font-size: 18px;
      letter-spacing: 0.9px;
      color: $drawer-gray;
      padding-right: 25px;
      padding-top: 15px;
    }

	  hr {
      height: 1px;
      border: 0px;
      margin: 0px;	
      background-color: $drawer-gray;
    }
  } 
}