@import './variables';

.PIVerificationModal {
  #PIVerificationModal__verifyProduct--dialogContainer {
    height: 276px;
    width: 520px;
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0 2px 25px 0 $black-24;
    cursor: auto;

    .md-title--dialog {
      margin-bottom: 0;
      padding: 24px;
      padding-bottom: 20px;
      white-space: normal;
      height: 3.66%;
      color: $blue-grey;
      font-family: "Open Sans";
      font-size: 24px;
      line-height: 32px;
    }
  }

  #PIVerificationModal__verificationResult--dialogContainer {
    width: 520px;
    height: 524px;
    border-radius: 2px;
    background-color: $grey-100;
    box-shadow: 0 2px 25px 0 $black-24;
  }

  .PIVerificationModal__loader-dashboard {
    position: absolute;
    top: 208px;
    left: 482px;
  } 

  .PIVerificationModal__loader-verifications {
    position: absolute;
    top: 184px;
    left: 482px;
  } 

  .md-dialog-container.md-overlay {
    cursor: auto;
  }
}