@import './variables';

.pi-verification{
  .pi-verification__container {
    text-align: center;
    align-content: center;  
    background-color: $disabled;  

    .pi-verification__instruction {
      width: 312px;
      height: 80px;
      margin: 60px 24px 0px 24px;  
      font-family: Open Sans;
      font-size: 34px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      letter-spacing: normal;
      color: $blue-grey; 
    }    

    .pi-verification__serial-number-input {
      width: 312px;
      height:59px;
      margin: 24px 24px 0px 24px;
      color:$warm-grey;  

      #floating-center-title {
        width: 312px;
        height: 26px;
        font-family: Open Sans;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: $blue-grey; 
      } 
      
      .md-floating-label {
        width: 65px;
        height: 22px;
        font-family: Open Sans;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: $warm-grey-two;
      }  
    }    

    .md-divider--text-field::after {
      background: $warm-grey-two;
    }  
    
    .pi-verification__verify-button-active {
      width: 310px;
      height: 40px;
      border-radius: 100px; 
      margin-top: 30px;
      color: $white;
      background-color: $cyan;      
    }

    .pi-verification__verify-button-inActive {
      width: 310px;
      height: 40px;
      border-radius: 100px; 
      margin-top: 30px;
      color: $blue-grey-26;
      background-color:$blue-grey-12;
      cursor: not-allowed;
      pointer-events: none;
    } 
    
    .md-btn--text {
      font-family: Open Sans;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.7px;
    } 
  }
}