@import './variables';

.productVerification {
  background-color: $grey;
  width: 100%;

  .productVerification-container {
    height: 662px;
    background-color: $bluish-gray;
  }

  .productVerification-layout {
    border: $grey 1px solid;
    height: 640px;
    width: 360px;
    margin: auto;
    padding-top: 10px;  
    padding-bottom: 20px;
    background-color: $grey-50;
    margin-top: -28px;
  }

  .productVerification-loader {
    margin-top: 240px; 
    margin-left: 160px;
  }
}