@import './variables';

.verification-results {
  text-align: center;
  align-content: center; 
  margin-top: 30px;
  max-height: 513px;
  overflow-y: auto;
  max-width: 358px;
  overflow-x: hidden;
  background-color: $grey-50;
  
  .verification-results__blue {
     background-color: $cyan;
  }

  .verification-results__green {
     background-color: $teal;
  }

  .verification-results__orange {
     background-color: $deep-orange;     
  }

  .verification-results__amber {
     background-color: $amber;
  }

  .verification-results__quick-view {
    width: 358px;
    height: 180px;   
    
    img {
      margin-top: 25px;
      width: 80px;
      height: 80px;
    }
  }
      
  .verification-results__status {
    margin: auto;
    width: 340px;
    height: 48px;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: $grey-50;
  }  

  .verification-results__pi {
    width: 312px;
    height: 24px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $grey-600;
    margin: 24px 24px 8px 24px;
    position: relative;
    word-break: break-all; 
  }
  
  .verification-results__details {
    width: 312px;
    height: 118px;
    margin: 8px 24px 20px 24px;

    p {
      margin-bottom: 0px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: $blue-grey;
    }
  }
  
  .md-card {
    width: 312px;
    margin: 10px 0px 24px 22px;
  }

  .md-grid {
    padding: 0px;
    height: 82px;
  }

 
  .md-card-title--large {
    width: 244px;
    height: 35px;
    padding: 0px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $header-black;
  }    

  .md-card-title {
    height: 38px;
    padding: 10px;
    margin-left:8px;
    text-align: center;
  }  
     
  .verification-results_status-icon-small {
    width: 16px;
    height: 16px;
   
    .md-inline-block {
      margin: 13px 8px 0px 8px;
    }

    .verification-results_avatar {
      width: 16px;
      height: 16px;  
    }

    img {
      height: 16px;
      widows: 16px;
    }
  }

  .verification-results__transaction-details {
    margin: 8px 0px 0px 14px;
    width: 256px;
    height: 48px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $grey-600;

    .verification-results__details-card {
      height: 135px;
    }    

    .verification-results__transaction-date {
      height: 18px;
      width: 116px;
      margin-bottom: 4px;
      font-size: 12px;
      font-family: Open Sans;
      color: $warm-grey-two;
    }

    p.md-cell {
      width: 250px;
      height: 20px;
      text-align: left;
      font-size: 16px;
      line-height: 1.67;
      color: $grey-600;
    }
  }

  hr {  
    margin: 0px;
    background-color: $light-grey;
    height: 1px;
    border: 0;
  }

  .md-cell {
    margin: 2px;   
  }       
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $grey-600; 
  border-radius: 10px;
}