@import './variables';

.VerificationDetails {
  width: 100%;
  background-color: $grey-100;
  margin: 0 auto;
  text-align: center;
  .VerificationDetails__inner {
    position: relative;
    width: 1230px;
    //border:1px solid blue;
    margin:0 auto;
  }
  .VerificationDetails__header {
    width: 100%;
    height: 340px;
    background-color: $white;
    box-shadow: 0 1px 3px 0 $dark-gray;
    position: relative;
    right: 0px;
    top: 0px;
  }

  .VerificationDetails__arrow-back {
    width: 34px;
    height: 32px;
    font-size: 32px;
    cursor: pointer;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: $grayish-black;
  }

  .VerificationDetails__srn {
    width: 361px;
    height: 48px;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: $bluish-gray;
    position: relative;
    top: 9px;
    left: 14px;
  }

  .VerificationDetails__quick-icon {
    position: relative;
    top: 9px;
    left: 38px;
  }

  .VerificationDetails__status {
    height: 40px;
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;    
    text-align: left;
    position: absolute;
    right: 757px;
    top: 40px;
  }  

  .VerificationDetails__details-card {
    width: 1230px;
    border-radius: 4px;
    position: relative;
    right: 7px;
    background-color: $white;
    box-shadow: 0 1px 3px 0 $dark-gray;
  } 

  .VerificationDetails__table {
    position: relative;
    top: 40px;
    left: 43px;
    width: 93%;
    border-radius: 5px;
    background-color: $white;
    border: solid 1px $light-grey;
  }

  .VerificationDetails__header--row {
    height: 64px;
  }

  .VerificationDetails__header-column {
    height: 32px;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: $blue-grey;
  }

  .VerificationDetails__body--row {
    height: 80px;
  }

  .md-table-row--hover {
    background-color: $white;
  }

  .VerificationDetails__status--Thumbnail {
    position: relative;
    top: 16px;
  }

  .VerificationDetails__entity {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $grey-600;
    position: relative;
    left: 16px;
    bottom: 7px;
  }

  .VerificationDetails__eventMessage {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $grey-600;
    position: relative;
    left: 48px;
    bottom: 7px;
  }

  .VerificationDetails__eventTime {
    height: 20px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: $grey-600;
    position: absolute;
    right: 47px;
  }

  .VerificationDetails__blue {
    color: $cyan;
    position: relative;;
    left: 45px;
    top: 5px;
  }

  .VerificationDetails__green {
    position: relative;
    color: $teal;
    left: 45px;
    top: 5px;
  }

  .VerificationDetails__orange {
    position: relative;
    color: $deep-orange;
    left: 48px;
    top: 6px;
  }

  .VerificationDetails__amber {
    position: relative;
    color: $amber;
    top: 5px;
    left: 45px;
  }

  .img_resolution {
    width: 32px;
    height: 32px;
  }

  .VerificationDetails__export-data--button {
    position: absolute;
    top: 40px;
    right: 35px;
    width: 185px;
    height: 40px;
    border-radius: 100px;
    background-color: $cyan;
    -webkit-box-shadow: 0 3px 1px -2px $greyish-black, 0 2px 2px 0 $black-14, 0 1px 5px 0 $black-2;
    box-shadow: 0 3px 1px -2px $greyish-black, 0 2px 2px 0 $black-14, 0 1px 5px 0 $black-2;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.7px;
    text-align: center;
    color: $white;
  }

  .VerificationDetails__header-details {
    position: absolute;
    margin-top: 25px;
    margin-left: -18px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $grey-600; 
  border-radius: 10px;
}