@import './variables';

.VerificationsPage {
  background-color: $grey;
  width: 100%;

  .VerificationsPage__container {
    height: 662px;
    background-color: $bluish-gray;
  }

  .VerificationsPage__layout {
    border: $grey 1px solid;
    height: 640px;
    width: 360px;
    padding-top: 10px;  
    padding-bottom: 20px;
    background-color: $grey-100;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .VerificationsPage__loader {
    color: $grey-50;
    margin-top: 260px;
    margin-left: 149px;
  }
}