@import './variables';

.VerificationsPage {
  background-color: $grey;
  width: 100%;

  .VerificationsPage__container {
    height: 662px;
    background-color: $bluish-gray;
  }

  .VerificationsPage__layout {
    border: $grey 1px solid;
    height: 640px;
    width: 360px;
    margin: auto;
    padding-top: 10px;  
    padding-bottom: 20px;
    background-color: $grey-100;
    margin-top: -24px;
  }

  .VerificationsPage__loader {
    color: $grey-50;
    margin-top: 98px;
    margin-left: 24px;
  }
}